<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>

        .container {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .container span {

        }


    </style>
</head>
<body>


<div class="container">
    <div class="section">
        <span>The smartest editor</span>
        <div>
            Use the full power of the modern JavaScript ecosystem – WebStorm’s got you covered! Enjoy the intelligent
            code completion, on-the-fly error detection, powerful navigation and refactoring for JavaScript, TypeScript,
            stylesheet languages, and the most popular frameworks.
        </div>
    </div>

    <div class="section">
        <span>Seamless tool integration</span>
        <div>
            Take advantage of linters, build tools, test runners, REST client, and more tools, all deeply integrated
            with the IDE. But any time you need Terminal, it's also available as an IDE tool window.
        </div>
    </div>

</div>

</body>
</html>